.FilterContainer {
    width: 22rem;
}

.Radio {
    display: block;
    height: 30px;
    line-height: 30px;
}

.FilterContainer .FirstOption {
    font-size: 16px;
    margin-right: 8px;
    vertical-align: text-bottom;
}